* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: #020202;
    --secondary-color: #ec720e;
    --accent1-color: #233379;
    --accent2-color: #fcfcfc;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    width: 100%;

}

nav,
section,
p,
article {
    margin: 7px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    color: var(--secondary-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: 75%;
}

h1 {
    position: absolute;
    bottom: 380px;
    width: 100%;
    padding: 15px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fcf9f9;

}

article {
    position: absolute;
    width: 99%;
    bottom: 7px;
    opacity: 0.7;
    color: #fcf9f9;
    background-color: #233379;

}

h2 {
    top: 5px;
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fcf9f9;
}

.hero article img {
    position: relative;
    bottom: 7px;
    float: right;
    padding: 15px;
    width: 160px;
    border: 1px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 0.1);
}

.hero article {
    position: absolute;
    color: var(--accent2-color);
}