* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: 1px solid rgb(0 0 0 / 0.1);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
    margin: 1rem
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #4b4a4a;
    position: relative
}

main {
    max-width: 840px;
}

aside img {
    width: 250px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 3px solid steelblue;
    padding: 5px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 0.2);
    float: right;
    margin: 0 0 1rem 1rem;
}

aside h2 {
    position: absolute;
    top: 70px;
    left: 30px;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}