* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding:

}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: 1px solid rgb(0 0 0 / 0.1);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

main {
    max-width: 840px;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 3px solid steelblue;
    padding: 5px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 0.2);
    float: right;
    margin: 0 0 1rem 1rem;

}

aside {
    width: 20em;
    text-align: center;
    position: relative
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;

}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}