:root {
    --heading-background-color: darkblue;
    --heading-text-color: ;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: var(--padding);
    background-color: #eee;
    color: #333;
}

main {
    max-width: 840px;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 3px solid steelblue;
    padding: 5px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 0.2);

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}